.container {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.container-nav { 
    width: 96%;
    padding: 1%;
    margin: 2%;
}

.container-intro {
    width: 96%;
    padding: 1%;
    margin: 2%;

}
.container-project {
    width: 96%;
    padding: 1%;
    margin: 2%;
}


/*=================================================HEADING====================================================*/
#logo {
    width: 100px;
    height: auto;
    margin-bottom: 3px;
}

header{
    display: flex;
    align-items: center;
    width: auto;
}

li {
    font-family: cursive;
    font-size: 20px;
    font-weight: 800;
    color: rgb(172, 173, 169);
}

#github, #linkedin {
    border-radius: 50px;
    width: 25px;
    height: 25px;
}


/*=================================================INTRODUCTION====================================================*/
.container-intro{
    width: 96%;
    margin: 2%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: inset rgb(0, 0, 0) 5px;
}

.main-animation {
    font-weight: 700;
    font-size: 200%;
    font-family: cursive;
    color: coral;
}

#varsha {
    width: 250px;
    border: inset rgb(0, 0, 0) 3px;
    border-radius: 50%;
}

.col-lg-12 {
    text-align: center;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 50%;
    margin: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    height: 0.25rem;
    background-color: #3393f3;
    border-radius: 1rem;
    border-color: #3393f3 ;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
    color: #3393f3;
    font-size: 2rem;
}

.aboutText {
    font-family: cursive;
    color: rgb(172, 173, 169);
    font-size: 18px;
    font-weight: 600;
}

.links {
    background-color: rgb(255, 255, 255);
    margin: 2%;
    border-radius: 5px;
}
.github, .linkedin {
    width: 6%;
    margin: 1%;
    background-color: rgb(242, 243, 239);
    border-radius: 50px;
}


/*=================================================PROJECT===================================================*/

.carousel-inner > .item > img {
    width: 80%;
    margin: auto;
}

#carousel {
    margin: 2%;
}