.container {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.container-nav { 
    width: 96%;
    padding: 1%;
    margin: 2%;
}

.container-intro {
    width: 96%;
    padding: 1%;
    margin: 2%;

}
.container-project {
    width: 96%;
    padding: 1%;
    margin: 2%;
}

#projectlinks {
    background-color: rgb(103, 209, 108);
    font-family: cursive;
    font-weight: 500;
    font-size: 15px;
    color: white;
    padding:5px;
    margin:10px;
    text-decoration: none;
    border-radius: 5px;
}

#projectlinks:hover {
    font-size: 17px;
}

/*=================================================HEADING====================================================*/
#logo {
    width: 100px;
    height: auto;
    margin-bottom: 3px;
}

header{
    display: flex;
    align-items: center;
    width: auto;
}

li {
    font-family: cursive;
    font-size: 20px;
    font-weight: 800;
    color: rgb(172, 173, 169);
}

/*=================================================INTRODUCTION====================================================*/
.container-intro {
    width: 96%;
    margin: 2%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

.main-animation {
    font-weight: 700;
    font-size: 200%;
    font-family: cursive;
    color: coral;
}

#varsha {
    width: 250px;
    border: inset rgb(0, 0, 0) 3px;
    border-radius: 50%;
}

.col-lg-12 {
    text-align: center;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 40%;
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    height: 7px;
    background-color: #3393f3;
    border-radius: 1rem;
    border-color: #3393f3 ;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #3393f3;
    font-size: 40px;
}

.aboutText {
    font-family: cursive;
    color: rgb(172, 173, 169);
    font-size: 18px;
    font-weight: 600;
}

.links {
    background-color: rgb(255, 255, 255);
    margin: 2%;
    border-radius: 5px;
}

.github, .linkedin {
    width: 6%;
    margin: 1%;
    background-color: rgb(242, 243, 239);
    border-radius: 50px;
}


/*=================================================SKILLS====================================================*/

.container-skills {
    width: 96%;
    margin: 2%;
    border: solid #b0b3b1 5px;
    border-radius: 5px;
    text-align: center;
}

.skill {
    margin: 5%;
}

.html, .css , .javascript, .bootstrap, .rdbms {
    background-color: white;
    padding: 2%;
    border: solid #000000 5px;
    margin: 1%; 
}

.html-img, .css-img , .javascript-img, .bootstrap-img, .rdbms-img {
    width: 40%;
}

.skillsimg {
    width: 15%;
}

.bar {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

.percentHtml {
    align-items: center;
    width: 95%;
    background-color: rgb(86, 230, 186);
    border-radius: 10px;
}

.percentCss {
    align-items: center;
    width: 70%;
    background-color: rgb(86, 230, 186);
    border-radius: 10px;
}

.percentJavascript {
    align-items: center;
    width: 60%;
    background-color: rgb(86, 230, 186);
    border-radius: 10px;
}

.percentBootstrap {
    align-items: center;
    width: 50%;
    background-color: rgb(86, 230, 186);
    border-radius: 10px;
}

.percentRdbms {
    align-items: center;
    width: 70%;
    background-color: rgb(86, 230, 186);
    border-radius: 10px;
}


/*=================================================PROJECT===================================================*/

.container-project {
    width: 96%;
    margin: 2%;
}

.modal-content {
    background-color: black;
}

#project-img {
    width: 10%;
    margin-right: 5px;
}

.project .project-item {
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 2%;
  }

.project .project-item .project-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

.project .project-item .project-item-caption:hover {
    opacity: 1;
}

.project .project-item .project-item-caption .project-item-caption-content {
    font-size: 1.5rem;
}
  
.project-modal .project-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .project-modal .project-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
.fade {
    transition: none;
}
}

.fade:not(.show) {
 opacity: 0;
}

.text-white {
    color: #fff ;
}

.text-center {
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.page-section-heading {
    font-family: cursive;
    font-weight: 600;
    color: coral;
}

.mb-5 {
    font-family: cursive;
} 

.justify-content-center {
    justify-content: center;
}

/*=================================================ACHEIVEMENTS===================================================*/
.achievements {
    display: block;
    text-align: center;
    margin: 4%;
    background-color: black;
    border-radius: 5px;
}

.gif-ach {
    width: 10%;
    margin-right: 2%;
}


#panel, #flip, #panel1, #flip1, #panel2, #flip2, #panel3, #flip3, #panel4, #flip4 { 
    width: 75%;
    margin: 2%;
    margin-left: 12%;
    padding: 0.5%;
    font-family: cursive;
    font-size: 100%;
    font-weight: 600;
    background-color: rgb(164, 235, 238);
    border: solid 3px #5d5d5e;
    color: black;
}

.ach {
    padding: 2%;
    font-family: cursive;
    font-size: 20px;
    color: white;
}

#panel, #panel1, #panel2, #panel3, #panel4 {
    display: none;
}

#certi {
    width: 100%;
    height: 100%;
}


/*=================================================CONTACT====================================================*/
.contact {
    text-align: center;
    margin: 2%;
    margin-left: 4%;
}

.contact-text {
    font-family: cursive;
    font-size:20px;
    font-weight: 600;
}

.gif-contact {
    display: inline-block;
    width: 25%;
}

.contact-box {
    border: inset 5px #000000;
    border-radius: 5px;
}

#mobile, #email, #address {
    width: 10%;
    height: 10%;
    margin: 1%;
}
